<%= simple_form_for(@tow_record, url: car_tow_records_path(@car)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :car_id %>
    <%= f.input :date_towed %>
    <%= f.input :tow_requester %>
    <%= f.input :tow_reason %>
    <%= f.input :driver_name %>
    <%= f.input :driver_address %>
    <%= f.input :driver_city %>
    <%= f.input :driver_state %>
    <%= f.input :driver_zip %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
