<h1>Listing tow_records</h1>

<table>
  <tr>
    <th>Car</th>
    <th>Date towed</th>
    <th>Tow requester</th>
    <th>Tow reason</th>
    <th>Driver name</th>
    <th>Driver address</th>
    <th>Driver city</th>
    <th>Driver state</th>
    <th>Driver zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tow_records.each do |tow_record| %>
  <tr>
    <td><%= tow_record.car_id %></td>
    <td><%= tow_record.date_towed %></td>
    <td><%= tow_record.tow_requester %></td>
    <td><%= tow_record.tow_reason %></td>
    <td><%= tow_record.driver_name %></td>
    <td><%= tow_record.driver_address %></td>
    <td><%= tow_record.driver_city %></td>
    <td><%= tow_record.driver_state %></td>
    <td><%= tow_record.driver_zip %></td>
    <td><%= link_to 'Show', tow_record %></td>
    <td><%= link_to 'Edit', edit_tow_record_path(tow_record) %></td>
    <td><%= link_to 'Destroy', tow_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tow record', new_tow_record_path %>
