<p id="notice"><%= notice %></p>

<p>
  <b>Car:</b>
  <%= @tow_record.car_id %>
</p>

<p>
  <b>Date towed:</b>
  <%= @tow_record.date_towed %>
</p>

<p>
  <b>Tow requester:</b>
  <%= @tow_record.tow_requester %>
</p>

<p>
  <b>Tow reason:</b>
  <%= @tow_record.tow_reason %>
</p>

<p>
  <b>Driver name:</b>
  <%= @tow_record.driver_name %>
</p>

<p>
  <b>Driver address:</b>
  <%= @tow_record.driver_address %>
</p>

<p>
  <b>Driver city:</b>
  <%= @tow_record.driver_city %>
</p>

<p>
  <b>Driver state:</b>
  <%= @tow_record.driver_state %>
</p>

<p>
  <b>Driver zip:</b>
  <%= @tow_record.driver_zip %>
</p>


<%= link_to 'Edit', edit_tow_record_path(@tow_record) %> |
<%= link_to 'Back', tow_records_path %>
