.box
  %h3.box-header Tow Record

  .box-body
    %p#notice= notice

    %p
      %b Car:
      = @tow_record.car_id

    %p
      %b Date towed:
      = @tow_record.date_towed

    %p
      %b Tow requester:
      = @tow_record.tow_requester

    %p
      %b Tow reason:
      = @tow_record.tow_reason

    %p
      %b Driver name:
      = @tow_record.driver_name

    %p
      %b Driver address:
      = @tow_record.driver_address

    %p
      %b Driver city:
      = @tow_record.driver_city

    %p
      %b Driver state:
      = @tow_record.driver_state

    %p
      %b Driver zip:
      = @tow_record.driver_zip


    = link_to 'Edit', edit_car_tow_record_path(@car, @tow_record), class: 'btn' |
    = link_to 'Back', :back, class: 'btn'
