= simple_form_for(@lien_procedure, url: @lien_procedure.new_record? ? car_lien_procedures_path(@car) : car_lien_procedure_path(@car, @lien_procedure)) do |f|
  = f.error_notification

  .form-inputs
    = f.input :date_towed, start_year: 1.year.ago.year, end_year: Date.today.year
    = f.input :mvd_inquiry_date, include_blank: true,
      start_year: 1.year.ago.year, end_year: Date.today.year
    = f.input :lien_notice_mail_date, include_blank: true,
      start_year: 1.year.ago.year, end_year: Date.today.year

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to "Back", :back, class: 'btn'
