%h3 Tow Info
%table.table.table-striped.car-info-table
  %tbody
    %tr
      %th Tow Requester
      %td= @lien_procedure.tow_requester
      %th Tow Reason
      %td= @lien_procedure.tow_reason

    %tr
      %th Towed
      %td= @lien_procedure.date_towed
      %th MVR Request
      %td= @lien_procedure.mvd_inquiry_date
    %tr
      %th Lien Notice(s)
      %td= @lien_procedure.lien_notice_mail_date
      %th Notice of Sale
      %td= @lien_procedure.notice_of_public_sale_date

%h3 Driver Info
%table.table.table-striped.car-info-table
  %tbody
    %tr
      %th Name
      %td= @lien_procedure.driver_name
      %th City
      %td= @lien_procedure.driver_city
    %tr
      %th Address
      %td= @lien_procedure.driver_address
      %th State
      %td= States[@lien_procedure.driver_state]
    %tr
      %th
      %td
      %th Zip
      %td= @lien_procedure.driver_zip
