<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_make.name %>
</p>

<p>
  <b>Kbb:</b>
  <%= @car_make.kbb_id %>
</p>


<%= link_to 'Edit', edit_car_make_path(@car_make) %> |
<%= link_to 'Back', car_makes_path %>
