%tr{class: cycle('list_line_odd', 'list_line_even')}
  %td
    = link_to car.vin, car_path(car)
    %br
    %small{style: 'font-size: 90%'}= car.to_s if car.make and car.model and car.year
  %td= car.created_at.to_date.to_s(:long_ordinal)
  %td= status_label car.status
  %td
    .btn-toolbar{style: 'margin: 0;'}
      = render "control_buttons", car: car
