/ TODO Override select box by creating new row (add boolean filter column and default_scope to false)
= simple_form_for @car, html: { class: "form-horizontal" } do |f|
  .well
    %fieldset.form-vertical
      %legend.lead
        How did we do?
        %small
          If possible we generated some information from the VIN. If we got it wrong, you can
          change it below.
      .row-fluid
        .span3
          = f.association :make, order: :name,
            input_html: {class: "chzn-select", data: {placeholder: "Choose a Make"}},
            label: false, disabled: false
        .span3
          = f.association :model, order: :name, collection: @models,
            input_html: {class: "chzn-select", data: {placeholder: "Choose a Model"}},
            label: false, disabled: @car.make_id.nil?
        .span3
          = f.association :year, order: :name, collection: @years,
            input_html: {class: "chzn-select", data: {placeholder: "Choose a Year"}},
            label: false, disabled: @car.model_id.nil?
      - if true # Determine if we can show a trim
        .row-fluid
          .span12
            = f.association :trim, order: :name, collection: @trims,
              input_html: {class: "chzn-select-deselect span6", data: {placeholder: "Choose a Trim"}},
              label: false, disabled: @car.year.nil?, wrapper_html: {class: 'last-row'}

  %fieldset
    %legend Additional Details
    .row-fluid
      .span5
        = f.input :size
      .span5
        = f.input :color
    .row-fluid
      .span5
        = f.input :state, collection: States.invert.sort,
          input_html: { class: "chzn-select-deselect", data: { placeholder: "Choose a State" } }
      .span5
        = f.input :license_plate_number

  %hr
  .row-fluid
    .span6
      .well
        %fieldset#car_owner_info{ data: { hide: ("true" unless @car.owner_name.present? or @car.owner_address.present?), show_text: "Add Owner" } }
          %legend Owner
          = f.input :owner_name, label: "Name"
          = f.input :owner_address, label: "Address"
          = f.input :owner_city, label: "City"
          = f.input :owner_state, label: "State", collection: States.invert.sort,
            input_html: { class: "chzn-select-deselect", data: { placeholder: "Choose a State" } }
          = f.input :owner_zip, label: "Zip"

    .span6
      .well
        %fieldset#car_lien_holder_info{ data: { hide: ("true" unless @car.lien_holder_name.present? or @car.lien_holder_address.present?), show_text: "Add Lien Holder" } }
          %legend Lien Holder
          = f.input :lien_holder_name, label: "Name"
          = f.input :lien_holder_address, label: "Address"
          = f.input :lien_holder_city, label: "City"
          = f.input :lien_holder_state, label: "State", collection: States.invert.sort,
            input_html: { class: "chzn-select-deselect", data: { placeholder: "Choose a State" } }
          = f.input :lien_holder_zip, label: "Zip"

  .row-fluid
    .well
      %fieldset#car_active_lien_procedure_info{data: { hide: ("true" if @car.active_lien_procedure.nil?), show_text: "Begin Lien Procedure" }}
        %legend Active Lien Procedure
        = f.simple_fields_for :active_lien_procedure, @car.active_lien_procedure || @car.lien_procedures.build do |l|
          = l.input :date_towed

  .form-actions
    = f.submit "Save Car", class: "btn btn-primary"
    = link_to "Lien Procedure", new_or_edit_lp_path(@car, @car.active_lien_procedure), class: "btn btn-info"
    = link_to "Back", car_path(@car), class: "btn"
