<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
  	<legend>Vehicle Data Entry</legend>
  	
  	<div class="field">
  		<%= f.label :year %>
  		<%= f.number_field :year %>
  	</div>
  	<div class="field">
  		<%= f.label :make %>
  		<%= f.text_field :make %>
  	</div>
  	<div class="field">
  		<%= f.label :model %>
  		<%= f.text_field :model %>
  	</div>
  	<div class="field">
  		<%= f.label :size %>
  		<%= f.text_field :size %>
  	</div>
  	<div class="field">
  		<%= f.label :color %>
  		<%= f.text_field :color %>
  	</div>
  	<div class="field">
  		<%= f.label :state %>
  		<%= select :car, :state, States.invert.sort, { :prompt => true}%>
  	</div>
  	<div class="field">
  		<%= f.label :vin %>
  		<%= f.text_field :vin %>
  	</div>
  	<div class="field">
  		<%= f.label :license_plate_number, "Lic. Plate" %>
  		<%= f.text_field :license_plate_number %>
  	</div>
</fieldset>
<fieldset>
	<legend>Owner Information</legend>
	
	<div class="field">
  		<%= f.label :owner_name, 'Name' %>
  		<%= f.text_field :owner_name %>
  	</div>
  	<div class="field">
  		<%= f.label :owner_address, 'Address' %>
  		<%= f.text_field :owner_address %>
  	</div>
  	<div class="field">
  		<%= f.label :owner_city, 'City' %>
  		<%= f.text_field :owner_city %>
  	</div>
  	<div class="field">
  		<%= f.label :owner_state, 'State' %>
  		<%= select :car, :owner_state, States.invert.sort, {:prompt => true}%>
  	</div>
  	<div class="field">
  		<%= f.label :owner_zip, 'Zip' %>
  		<%= f.text_field :owner_zip %>
  	</div>
</fieldset>
<fieldset>
	<legend>Lien Holder Information</legend>
	
	<div class="field">
  		<%= f.label :lien_holder_name, 'Name' %>
  		<%= f.text_field :lien_holder_name %>
  	</div>
  	<div class="field">
  		<%= f.label :lien_holder_address, 'Address' %>
  		<%= f.text_field :lien_holder_address %>
  	</div>
  	<div class="field">
  		<%= f.label :lien_holder_city, 'City' %>
  		<%= f.text_field :lien_holder_city %>
  	</div>
  	<div class="field">
  		<%= f.label :lien_holder_state, 'State' %>
  		<%= select :car, :lien_holder_state, States.invert.sort, { :prompt => true}%>
  	</div>
  	<div class="field">
  		<%= f.label :lien_holder_zip, 'Zip' %>
  		<%= f.text_field :lien_holder_zip %>
  	</div>
</fieldset>
<fieldset>
	<legend>Driver Information (If different than owner)</legend>
	
	<div class="field">
  		<%= f.label :driver_name, 'Name' %>
  		<%= f.text_field :driver_name %>
  	</div>
  	<div class="field">
  		<%= f.label :driver_address, 'Address' %>
  		<%= f.text_field :driver_address %>
  	</div>
  	<div class="field">
  		<%= f.label :driver_city, 'City' %>
  		<%= f.text_field :driver_city %>
  	</div>
  	<div class="field">
  		<%= f.label :driver_state, 'State' %>
  		<%= select :car, :driver_state, States.invert.sort, { :prompt => true}%>
  	</div>
  	<div class="field">
  		<%= f.label :driver_zip, 'Zip' %>
  		<%= f.text_field :driver_zip %>
  	</div>
</fieldset>
<fieldset>
	<legend>Tow Information</legend>
	<div class="field">
		<%= f.label :date_towed, 'Tow Date' %>
		<%= f.date_select :date_towed %>
	</div>
	<div class="field">
		<%= f.label :tow_requested_by, 'Requester' %>
		<%= f.text_field :tow_requested_by %>
	</div>
	<div class="field">
		<%= f.label :tow_reason, 'Reason' %>
		<%= f.text_field :tow_reason %>
	</div>
</fieldset>
<fieldset>
	<legend>Charges</legend>
	<div class="field">
  		<%= f.label :charge_hook_up, 'Hook-up' %>
  		<%= f.text_field :charge_hook_up, :class => 'charge' %>
  	</div>
  	<div class="field">
  		<%= f.label :charge_mileage, 'Mileage' %>
  		<%= f.text_field :charge_mileage, :class => 'charge' %>
  	</div>
  	<div class="field">
  		<%= f.label :charge_admin, 'Admin' %>
  		<%= f.text_field :charge_admin, :class => 'charge' %>
  	</div>
  	<div class="field">
  		<%= f.label :charge_other, 'Other' %>
  		<%= f.text_field :charge_other, :class => 'charge' %>
  	</div>
  	<div class="field">
  		<%= f.label :charge_subtotal, 'Subtotal' %>
  		<%= f.text_field :charge_subtotal, {:readonly => true} %>
  	</div>
  	<div class="field">
  		<%= f.label :tax, 'Tax (%)' %>
  		<%= f.text_field :tax %>
  	</div>
  	<div class="field">
  		<%= f.label :charge_total, 'Total' %>
  		<%= f.text_field :charge_total, {:readonly => true}%>
  	</div>
</fieldset>
<fieldset>
  <legend>Entry Information</legend>
  
  <div class="field">
    <%= f.label :preparers_name %>
    <%= f.text_field :preparers_name %>
  </div>
</fieldset>
  	
  	<% #TODO What to do for :mvd_inquiry_made - default to yes, and :mail_notice_of_lien_date - update when forms are loaded %>
  	<% #TODO Set preparers name to user field %>
  	<%= f.hidden_field :user_id %>
  	
  	<div class="field">
  		<%= f.submit %>
  	</div>
  </fieldset>
<% end %>
