<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @car.year %>
</p>

<p>
  <b>Make:</b>
  <%= @car.make %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Size:</b>
  <%= @car.size %>
</p>

<p>
  <b>State:</b>
  <%= @car.state %>
</p>

<p>
  <b>Vin:</b>
  <%= @car.vin %>
</p>

<p>
  <b>License plate number:</b>
  <%= @car.license_plate_number %>
</p>

<p>
  <b>Date towed:</b>
  <%= @car.date_towed %>
</p>

<p>
  <b>Tow requested by:</b>
  <%= @car.tow_requested_by %>
</p>

<p>
  <b>Tow reason:</b>
  <%= @car.tow_reason %>
</p>

<p>
  <b>Mail notice of lien date:</b>
  <%= @car.mail_notice_of_lien_date %>
</p>

<p>
  <b>Owner name:</b>
  <%= @car.owner_name %>
</p>

<p>
  <b>Owner address:</b>
  <%= @car.owner_address %>
</p>

<p>
  <b>Owner city:</b>
  <%= @car.owner_city %>
</p>

<p>
  <b>Owner state:</b>
  <%= @car.owner_state %>
</p>

<p>
  <b>Owner zip:</b>
  <%= @car.owner_zip %>
</p>

<p>
  <b>Lien holder name:</b>
  <%= @car.lien_holder_name %>
</p>

<p>
  <b>Lien holder address:</b>
  <%= @car.lien_holder_address %>
</p>

<p>
  <b>Lien holder city:</b>
  <%= @car.lien_holder_city %>
</p>

<p>
  <b>Lien holder state:</b>
  <%= @car.lien_holder_state %>
</p>

<p>
  <b>Lien holder zip:</b>
  <%= @car.lien_holder_zip %>
</p>

<p>
  <b>Charge towing:</b>
  <%= @car.charge_towing %>
</p>

<p>
  <b>Charge storage:</b>
  <%= @car.charge_storage %>
</p>

<p>
  <b>Charge admin:</b>
  <%= @car.charge_admin %>
</p>

<p>
  <b>Tax:</b>
  <%= @car.tax %>
</p>

<p>
	<b>Charge Total:</b>
	<%= @car.charge_total %>
</p>

<p>
  <b>Storage rate:</b>
  <%= @car.storage_rate %>
</p>

<p>
  <b>Mvd inquiry made:</b>
  <%= @car.mvd_inquiry_made %>
</p>

<p>
  <b>Preparers name:</b>
  <%= @car.preparers_name %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
