.box
  %h3.box-header #{@car.to_s} #{status_label(@car.status)}

  .box-body
    .row-fluid
      .page-header
        - if @lien_procedure.nil?
          %h1 Lien Procedure Inactive
        - else
          %h1 Next Step #{content_tag :small, @lien_procedure.next_step_string}

    .row-fluid
      .span12
        .well.well-small
          .btn-toolbar.ac
            .btn-group
              = car_step_tag "Lien Procedure Started", new_car_lien_procedure_path(@car), @car.lien_procedures.any?, class: "btn"
              %button.btn.dropdown-toggle{data: {toggle: 'dropdown'}}
                %span.caret
              %ul.dropdown-menu.al
                %li= car_date_step_tag "MVD Inquiry", @car, @lien_procedure, 'mvd_inquiry_date'
                %li= car_date_step_tag "Lien Notice Mailed", @car, @lien_procedure, 'lien_notice_mail_date'
                %li= car_date_step_tag "Public Sale Notice", @car, @lien_procedure, 'notice_of_public_sale_date'
                %li= car_step_tag "Titled", [@car, @lien_procedure, 'lien_procedure[titled]' => true],
                  @car.titled?, @car.lien_procedures.empty? , data: [confirm: "End lien procedure and mark car as titled?"]
                %li= car_step_tag "Claimed", [@car, @lien_procedure, 'lien_procedure[active]' => false],
                  @car.claimed? , @car.lien_procedures.empty? , data: { confirm: "End lien procedure and mark car as claimed?" }
                %li.divider
                  %li= car_step_tag "Vehicle Released", [@car, @lien_procedure, 'lien_procedure[vehicle_released]' => true],
                    @lien_procedure.try(:vehicle_released), @lien_procedure.nil? , method: "put"
                %li= car_step_tag "Personals Released", [@car, @lien_procedure, 'lien_procedure[personals_released]' => true],
                  @lien_procedure.try(:personals_released), @lien_procedure.nil? , method: "put"
            = render "control_buttons", car: @car

    .row-fluid
      .tabbable
        %ul.nav.nav-tabs#car_show_tabs
          %li= link_to "General", "#info_general", data: { toggle: 'tab' }
          %li= link_to "Ownership", "#info_ownership", data: { toggle: 'tab' }
          %li= link_to "Lien Procedure", "#info_lien_procedure", data: { toggle: 'tab' }
        .tab-content
          .tab-pane#info_general
            = render "info_general"

          .tab-pane#info_ownership
            = render "info_ownership"

          .tab-pane#info_lien_procedure
            = render "info_lien_procedure"
