.box
  %h3.box-header= @car.to_s

  .box-body
    .row-fluid
      .page-header
        %h1 Header Section #{content_tag :small, "We should have some cool stats here"}

    .row-fluid
      .span12
        .well.well-small
          .btn-toolbar.ac
            .btn-group
              = link_to "Edit", edit_car_path(@car), class: "btn"
              = link_to "Something", "#", class: "btn"
              = link_to "Something Else", "#", class: "btn"

    .row-fluid
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{href: "#info_general", data: { toggle: 'tab' }} General
          %li
            %a{href: "#info_ownership", data: { toggle: 'tab' }} Ownership
        .tab-content
          .tab-pane.active#info_general
            %table.table.table-striped.car-info-table
              %tbody
                %tr
                  %th Year
                  %td= @car.year.to_s
                  %th Color
                  %td= @car.color
                %tr
                  %th Make
                  %td= @car.make.to_s
                  %th Size
                  %td= @car.size
                %tr
                  %th Model
                  %td= @car.model.to_s
                  %th LP
                  %td= @car.license_plate_number
                %tr
                  %th Trim
                  %td= @car.trim.to_s
                  %th State
                  %td= States[@car.state]

          .tab-pane#info_ownership
            %h3 Owner
            %table.table.table-striped.car-info-table
              %tbody
                %tr
                  %th Name
                  %td= @car.owner_name
                  %th City
                  %td= @car.owner_city
                %tr
                  %th Address
                  %td= @car.owner_address
                  %th State
                  %td= States[@car.owner_state]
                %tr
                  %th
                  %td
                  %th Zip
                  %td= @car.owner_zip

            %hr
            %h3 Lien Holder
            %table.table.table-striped.car-info-table
              %tbody
                %tr
                  %th Name
                  %td= @car.lien_holder_name
                  %th City
                  %td= @car.lien_holder_city
                %tr
                  %th Address
                  %td= @car.lien_holder_address
                  %th State
                  %td= States[@car.lien_holder_state]
                %tr
                  %th
                  %td
                  %th Zip
                  %td= @car.lien_holder_zip
