<p id="notice"><%= notice %></p>

<p>
  <b>Car make:</b>
  <%= @car_model.make_id %>
</p>

<p>
  <b>Name:</b>
  <%= @car_model.name %>
</p>

<p>
  <b>Kbb:</b>
  <%= @car_model.kbb_id %>
</p>


<%= link_to 'Edit', edit_car_model_path(@car_model) %> |
<%= link_to 'Back', car_models_path %>
