!!! 5
%html{:lang => "en"}
  %head
    %title Impound Pro
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v1/", "application"
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY']
    = tag :meta, :name => "viewport", :content => "width=device-width, intial-scale=1.0"
  %body{:class => controller.controller_name}
    = content_for?(:content) ? yield(:content) : yield

    .container
      %footer
        %hr
        %p © Impound Pro 2012
