<!DOCTYPE html>
<html>
<head>
  <title>Tyler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/stripe-debug.js", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body class="<%= controller.controller_name %>">
  
<% if flash[:alert] %>
  <p id="alert"><%= flash[:alert] %></p>
<% end %>
<% if flash[:error] %>
  <p id="error"><%= flash[:error] %></p>
<% end %>
<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>

<%= yield %>

</body>
</html>
